@import url(global.css);
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    background-color: #121212;
    color: aliceblue;
}

#cabeçalho h1, #cabeçalho p {
    font-family: Google Sans, sans-serif;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabeçalho h1{
    color: #bb86fc;
    font-size: 2.5em;
}

#cabeçalho p{
    color: #3700b3;
    font-size: 2em;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

#nav-bar li {
    list-style: none;
}

#nav-bar a {
    font-size: 1.2em;
    color: #03dac6;
}

#nav-bar a:hover {
    color: #018786;
}

#sobre-mim {
    margin: 1em;
}
